
<div class="outer">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="../adminhome"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a routerLink="../home"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
   
      </ul>
  
    </div>
  
  
  </nav>
  <img src="../../assets/exam.png">
  <div class="btn-group-vertical">
  <button type="button" class="btn btn-dark" routerLink="../addfile"><b>Add Files</b></button>
  </div>
  <div class="btn-group-vertical">
  <button type="button" class="btn btn-dark" routerLink="../delfile"><b>Delete Files</b></button>
  </div>
  <div class="btn-group-vertical">
  <button type="button" class="btn btn-dark" routerLink="../admin"><b>View Reports</b></button>
  </div>
 
</div>