<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Forgot your Password? <br>Dont worry you can change it in two simple steps</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div *ngIf="isPress">
          <div style="text-align: center; height: 110px;"><p style="font-size: 20px; font-weight: bold;">Sending you an Email...</p></div>
          <img class="img-responsive" style="margin: 0 auto;
          width: 100px;
          position: static;
          float: right;
          margin-right: 225px;
          margin-top: -90px;" src="../../assets/loading.gif" alt="">

        </div>
        <div *ngIf="isSent" style="text-align: center;">
<p style="font-size: 40px; color: green;"><i class="fa fa-check-circle-o" style="font-size: 60px;" aria-hidden="true"></i>&nbsp; Email Sent</p>
        </div>
        <form *ngIf="!isSent && !isPress" [formGroup]="ConForm" (ngSubmit)="SubmitEmail()">
          <div class="form-group" style="width: 60%;">
            <label for="exampleInputEmail1">Enter your registered Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="John.doe@gmail.com" name="email" formControlName="email">
           </div>

           <div class="form-group">
            <button type="submit" class="btn btn-primary">Send Email</button>
  
           </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
    </div>
  </div>
</div>

<div style="height: 100vh; width: 100%; background-color: black;" class="outer">

    <img src="../../assets/exam.png">
            
    <div class="banner">
      <div style="text-align: center;">
    <p class="b1">Online Exam System</p>
    <p class="b2">"Some quote on studies or placement"</p>
    </div>
    </div>
            <div class="login">
    
                <div style="width: 100%; text-align: center;" class="innerlogin">
                <p>Login to Portal</p></div>
    
                <div class="inform">
    
                    <form [formGroup]="ConForm2" (ngSubmit)="SubmitLogin()">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="loginemail" formControlName="loginemail">
                          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="loginpass" formControlName="loginpass">
                        </div>
                        <div class="form-group">
                          <a href="#" data-toggle="modal" data-target="#exampleModal">Forgot Password?</a>
                        </div>
                        <div style="text-align: center;">
                        <button class="but" type="submit">Login</button>
                        </div>
                        <div style="text-align: center; margin-top: 10px;">
                        <a routerLink="../register">Don't have an account? Register Here!!</a>
                        </div>
                      </form>
                </div>
            </div>        
        </div>